<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block title %}<title>Base</title>{% endblock %}
</head>
<body>
     
    <div class="header">
        <div class="col-xl-2 col-lg-2 col-md-1">
    
          <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.png' %}" alt="" loading="lazy">
          </a>
        </div>
        <li class="dropdowns">
          <a href="javascript:void(0)" onClick="dropClick()"> &#8801; </a>
        </li>
    
        <div class="col-xl-10 col-lg-10 col-md-10 bar">
    
    
          <ul class="nav justify-content-end">
    
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" role="button" aria-haspopup="true" aria-expanded="false">Page</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
                <a class="dropdown-item" href="#">Blog details</a>
                <a class="dropdown-item" href="#">Element</a>
    
                <a class="dropdown-item" href="#">Portfolio details</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <button type="button" class="btn btn-danger">Get Free Consultant</button>
              </a>
            </li>
    
          </ul>
    
    
        </div>
      </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    {% block contents %}
    {% endblock %}
</body>

</html>