{% extends 'portfolio/base.html'%}
{% load static %}
{% block title %}<title>Home</title>{% endblock %}
  {% block contents %}
       <div class="content1">
        <div class="col-xl-6 col-lg-8 col-md-12">
    
          <h3>GET EVERY SINGLE SOLUTIONS</h3>
          <h1>I`m DESIGNER</h1>
          <H1>HARIS F.WATSON</H1>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. dolores quia vel, officiis quos sunt, tenetur non
            blanditiis iste itaque?</P>
            <div class="buttons">
             <button type="button" class="btns btn1 ">Learn more</button>
             <button class="btns btn2 ">Here me</button>
        </div>
        </div>
      </div>
      <div class="content2">

        <div class="col-xl-6 col-lg-6 col-md-8 ">
          <h1>Designing With Passion While Exploring The World</h1>
          <p>Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Quis ipsum
            suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
          </p>
          <p>
            Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-8">
          <h1>Any Type Of Query
            & Discussion.</h1>
          <h5>Late talk with me</h5>
          <a href="">hire@colorlib.com</a><img src="" alt="">
        </div>
    
      </div>
      <div class="content3">
        <div class="col-lg-6 col-md-12">
          <h1> What Services you will Get from me!</h1>
        </div>
      </div>
      <div class="content4">
        <div class="col-lg-4 col-md-6 col-sm-12 cont1 conta">
          <div class="icon">
            <i class="fa fa-modx fa-4x icon1" aria-hidden="true"></i>
          </div>
          <h1>UI/IX DESIGNER</h1>
          <p>Free resource that will help nderstand thecv designc process and improve theroi nderstand the design process
            andisei impro are of vquality.</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 cont1 conta">
          <div class="icon">
            <i class="fa fa-bullhorn fa-4x icon1" aria-hidden="true"></i>
          </div>
          <h1>Digital Marketing</h1>
          <p>Free resource that will help nderstand thecv designc process and improve theroi nderstand the design process
            andisei impro are of vquality.</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 cont1 conta">
          <div class="icon">
            <i class="fa fa-picture-o fa-4x icon1" aria-hidden="true"></i>
          </div>
          <h1>Website Design</h1>
          <p>Free resource that will help nderstand thecv designc process and improve theroi nderstand the design process
            andisei impro are of vquality.</p>
        </div>
      </div>
      <div class="content3">
        <div class="col-lg-6 col-md-12">
          <h1> What Services you will Get from me!</h1>
        </div>
        <div class="col-lg-6">
          <ul class="mini">
            <li class="nav-item">
              <input type="button" class="buttonlink" value="All" id="All">
            </li>
            <li class="nav-item">
              <input type="button"  class="buttonlink" value="Branding" id="Branding">
            </li>
            <li class="nav-item">
              <input type="button" class="buttonlink" value="Logo" id="Logo">
            </li>
            <li class="nav-item">
              <input type="button" class="buttonlink" value="UI/UX" id="UI">
            </li>
            <li class="nav-item">
              <input type="button" class="buttonlink" value="WeDesign" id="WebDesign">
            </li>
          </ul>
        </div>
      </div>
      <div class="content5">
        <div class="content6">
          <div class="col-lg-8 col-md-12"><img src="{% static 'images/services1.png' %}" class="img" width="100%" height="600px" alt=""></div>
          <div class="col-lg-4 col-md-12">
            <div class="col-12"><img src="{% static 'images/services2.png' %}" class="img"  alt="" width="100%" height="300px"></div>
            <div class="col-12"><img src="{% static 'images/services3.png' %}" class="img"  alt="" width="100%" height="300px"></div>
          </div>
        </div>
        <div class="content7">
          <div class="col-lg-4 col-md-12"><img src="{% static 'images/services4.png' %}" class="img"  alt="" width="100%" height="300px"></div>
          <div class="col-lg-4 col-md-12"><img src="{% static 'images/services5.png' %}" class="img"  alt="" width="100%" height="300px"></div>
          <div class="col-lg-4 col-md-12"><img src="{% static 'images/services6.png' %}" class="img"  alt="" width="100%" height="300px"></div>
        </div>
      </div>
      <div class="content8">
        <div class="col-lg-6" id="cont8">
             <h1>Don`t worry for contact</h1>
             <h1>i`m available</h1>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btns btn1 ">Contac Me Now</button>
        </div>
      </div>
      <div class="content9">
        <div class="col-lg-6">
          <h1>Some Possitive Feedback That Encourage Us</h1>
          
        </div>
        <div class="col-lg-6">
          <button class="circle"> < </button>
          <button class="circle"> > </button>
        </div>
      </div>
      <div class="content10">
        
          {% for project in projects %}
          <div class="col-lg-4 col-md-12">
            <div class="feed">
              <div class=".col-lg-6 ">
                <img src="{{project.image.url}}" alt="">
              </div>
              <div class=".col-lg-6 ">
                <h4>{{project.name}}</h4>
                <p>{{project.title}}</p>
              </div>
            </div>
            <div class="feedtext">
              <p>{{project.text}}</p>
            </div>
          </div>
          {% endfor %}
        
        
      </div>
      <div id="slider" class="slider">
        <div id="liner" class="liner">
          <img src="{% static 'images/brand1.png' %}" alt="">
          <img src="{% static 'images/brand2.png' %}" alt="">
          <img src="{% static 'images/brand3.png' %}" alt="">
          <img src="{% static 'images/brand4.png' %}" alt="">
          <img src="{% static 'images/brand1.png' %}" alt="">
          <img src="{% static 'images/brand1.png' %}" alt="">
          <img src="{% static 'images/brand2.png' %}" alt="">
          <img src="{% static 'images/brand3.png' %}" alt="">
          <img src="{% static 'images/brand4.png' %}" alt="">
          <img src="{% static 'images/brand1.png' %}" alt="">
        </div>
      </div>
      <div class="content8">
        <div class="col-lg-6">
          <h2>If Not Now, When? Let’s Work Together!</h2>
          <p>Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra.</p>
          <img src="{% static 'images/imzo.png' %}" alt="">
        </div>
        <div class="col-lg-6">
        
          <form>
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="FirstName">
            </div>
            <div class="form-group">
               <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="LastName">
            </div>
            <div class="form-group">
              
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="YourMessage"></textarea>
            </div>
            <button type="button" class="btn btn-danger btn-lg btn-block">Send Message</button>
          </form>
        
        </div>
      </div>
    <footer>
      
      <div class="footerarea">
        <img src="{% static 'images/logo2_footer.png' %}" alt=""><br>
        <a href="">hireme@portfolio.com</a>
        <h5>221B Baker Street, Post office Box 353 </h5>
        <h5>Park Road, USA - 215431</h5>
      </div>
      <div class="footerbottom">
        <div class="col-lg-6 left">
          <p>Copyright ©2020 All rights reserved | This template is made with <span style='color:red;'>&#9829;</span> by Colorlib</p>
        </div>
        <div class="col-lg-6 right">
          <h6>Stay connectted  </h6>
          <a href=""><i class="fa fa-facebook" aria-hidden="true" style="color:aliceblue"></i></a>
          <a href=""><i class="fa fa-twitter" aria-hidden="true" style="color:aliceblue"></i></a>
        </div>
      </div>
    </footer>
      
    
      <script>
        function dropClick() {
          document.querySelector('ul').style.display = 'block';
    
        }
        document.querySelector('.nav').addEventListener('mouseout', function () {
          document.querySelector('.nav').style.display = 'flex'
        })
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
          document.querySelector('.dropdown-menu').style.display = 'block'
        })
        document.querySelector('.dropdown-menu').addEventListener('mouseover', function () {
          document.querySelector('.dropdown-menu').style.display = 'block'
        })
        document.querySelector('.dropdown').addEventListener('mouseout', function () {
          if (document.querySelector('dropdown-item')) {
            document.querySelector('.dropdown-menu').style.display = 'block'
          }
          else {
            document.querySelector('.dropdown-menu').style.display = 'none'
          }
        })
        
        autoSlider();
        var left = 0;
        var timer;
        function autoSlider(){
          timer = setTimeout(function(){
            var liner = document.getElementById('liner');
            left = left - 160;
            if(left < -1820)
            {
              left=0;
              clearTimeout(timer);
              
            }
            liner.style.left = left+'px';
            autoSlider();
          }, 1000)
        }
      
        
      </script>
      {% endblock %}
