{% extends 'portfolio/base.html'%}
{% load static %}
{% block title %}<title>Portfolio</title>{% endblock %}
{% block contents %}
<div class="about1">
    <h1>
        Portfolio
    </h1>
    <h6><a href="{% url 'home' %}">Home</a>/ <a href="">Portfolio</a></h6>
</div>
<div class="content3">
    <div class="col-lg-6 col-md-12">
      <h1> What Services you will Get from me!</h1>
    </div>
    <div class="col-lg-6">
      <ul class="mini">
        <li class="nav-item">
          <input type="button" class="buttonlink" value="All" id="All">
        </li>
        <li class="nav-item">
          <input type="button"  class="buttonlink" value="Branding" id="Branding">
        </li>
        <li class="nav-item">
          <input type="button" class="buttonlink" value="Logo" id="Logo">
        </li>
        <li class="nav-item">
          <input type="button" class="buttonlink" value="UI/UX" id="UI">
        </li>
        <li class="nav-item">
          <input type="button" class="buttonlink" value="WeDesign" id="WebDesign">
        </li>
      </ul>
    </div>
  </div>
  <div class="content5">
    <div class="content6">
      <div class="col-lg-8 col-md-12"><img src="{% static 'images/services1.png' %}" class="img" width="100%" height="600px" alt=""></div>
      <div class="col-lg-4 col-md-12">
        <div class="col-12"><img src="{% static 'images/services2.png' %}" class="img"  alt="" width="100%" height="300px"></div>
        <div class="col-12"><img src="{% static 'images/services3.png' %}" class="img"  alt="" width="100%" height="300px"></div>
      </div>
    </div>
    <div class="content7">
      <div class="col-lg-4 col-md-12"><img src="{% static 'images/services4.png' %}" class="img"  alt="" width="100%" height="300px"></div>
      <div class="col-lg-4 col-md-12"><img src="{% static 'images/services5.png' %}" class="img"  alt="" width="100%" height="300px"></div>
      <div class="col-lg-4 col-md-12"><img src="{% static 'images/services6.png' %}" class="img"  alt="" width="100%" height="300px"></div>
    </div>
  </div>
  <footer>
      
    <div class="footerarea">
      <img src="{% static 'images/logo2_footer.png' %}" alt=""><br>
      <a href="">hireme@portfolio.com</a>
      <h5>221B Baker Street, Post office Box 353 </h5>
      <h5>Park Road, USA - 215431</h5>
    </div>
    <div class="footerbottom">
      <div class="col-lg-6 left">
        <p>Copyright ©2020 All rights reserved | This template is made with <span style='color:red;'>&#9829;</span> by Colorlib</p>
      </div>
      <div class="col-lg-6 right">
        <h6>Stay connectted  </h6>
        <a href=""><i class="fa fa-facebook" aria-hidden="true" style="color:aliceblue"></i></a>
        <a href=""><i class="fa fa-twitter" aria-hidden="true" style="color:aliceblue"></i></a>
      </div>
    </div>
  </footer>
{% endblock %}