{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}<title>Services</title>{% endblock %}
{% block contents %}
<div class="about1">
    <h1>
        My Services
    </h1>
    <h6><a href="{% url 'home' %}">Home</a>/ <a href="">My Services</a></h6>
</div>
<div class="content4">
    <div class="col-lg-4 col-md-6 col-sm-12 cont1 conta">
      <div class="icon">
        <i class="fa fa-modx fa-4x icon1" aria-hidden="true"></i>
      </div>
      <h1>UI/IX DESIGNER</h1>
      <p>Free resource that will help nderstand thecv designc process and improve theroi nderstand the design process
        andisei impro are of vquality.</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cont1 conta">
      <div class="icon">
        <i class="fa fa-bullhorn fa-4x icon1" aria-hidden="true"></i>
      </div>
      <h1>Digital Marketing</h1>
      <p>Free resource that will help nderstand thecv designc process and improve theroi nderstand the design process
        andisei impro are of vquality.</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cont1 conta">
      <div class="icon">
        <i class="fa fa-picture-o fa-4x icon1" aria-hidden="true"></i>
      </div>
      <h1>Website Design</h1>
      <p>Free resource that will help nderstand thecv designc process and improve theroi nderstand the design process
        andisei impro are of vquality.</p>
    </div>
  </div>
  <div class="content4">
    <div class="col-lg-4 col-md-6 col-sm-12 cont1 conta">
        <div class="icon">
            <i class="fa fa-picture-o fa-4x icon1" aria-hidden="true"></i>
          </div>
          <h1>Website Design</h1>
          <p>Free resource that will help nderstand thecv designc process and improve theroi nderstand the design process
            andisei impro are of vquality.</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cont1 conta">
      <div class="icon">
        <i class="fa fa-bullhorn fa-4x icon1" aria-hidden="true"></i>
      </div>
      <h1>Digital Marketing</h1>
      <p>Free resource that will help nderstand thecv designc process and improve theroi nderstand the design process
        andisei impro are of vquality.</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cont1 conta">
      
        <div class="icon">
            <i class="fa fa-modx fa-4x icon1" aria-hidden="true"></i>
          </div>
          <h1>UI/IX DESIGNER</h1>
          <p>Free resource that will help nderstand thecv designc process and improve theroi nderstand the design process
            andisei impro are of vquality.</p>
    </div>
  </div>
  <div class="content8">
    <div class="col-lg-6" id="cont8">
         <h1>Don`t worry for contact</h1>
         <h1>i`m available</h1>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btns btn1 ">Contac Me Now</button>
    </div>
  </div>
  <div id="slider" class="slider">
    <div id="liner" class="liner">
      <img src="{% static 'images/brand1.png' %}" alt="">
      <img src="{% static 'images/brand2.png' %}" alt="">
      <img src="{% static 'images/brand3.png' %}" alt="">
      <img src="{% static 'images/brand4.png' %}" alt="">
      <img src="{% static 'images/brand1.png' %}" alt="">
      <img src="{% static 'images/brand1.png' %}" alt="">
      <img src="{% static 'images/brand2.png' %}" alt="">
      <img src="{% static 'images/brand3.png' %}" alt="">
      <img src="{% static 'images/brand4.png' %}" alt="">
      <img src="{% static 'images/brand1.png' %}" alt="">
    </div>
  </div>
  <div class="content8">
    <div class="col-lg-6">
      <h2>If Not Now, When? Let’s Work Together!</h2>
      <p>Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra.</p>
      <img src="{% static 'images/imzo.png' %}" alt="">
    </div>
    <div class="col-lg-6">
    
      <form>
        <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="FirstName">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="LastName">
        </div>
        <div class="form-group">
          
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="YourMessage"></textarea>
        </div>
        <button type="button" class="btn btn-danger btn-lg btn-block">Send Message</button>
      </form>
    
    </div>
  </div>
<footer>
  
  <div class="footerarea">
    <img src="{% static 'images/logo2_footer.png' %}" alt=""><br>
    <a href="">hireme@portfolio.com</a>
    <h5>221B Baker Street, Post office Box 353 </h5>
    <h5>Park Road, USA - 215431</h5>
  </div>
  <div class="footerbottom">
    <div class="col-lg-6 left">
      <p>Copyright ©2020 All rights reserved | This template is made with <span style='color:red;'>&#9829;</span> by Colorlib</p>
    </div>
    <div class="col-lg-6 right">
      <h6>Stay connectted  </h6>
      <a href=""><i class="fa fa-facebook" aria-hidden="true" style="color:aliceblue"></i></a>
      <a href=""><i class="fa fa-twitter" aria-hidden="true" style="color:aliceblue"></i></a>
    </div>
  </div>
</footer>
{% endblock %}