.container-fluid{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
   
}
.header{
    display:flex;
    font-weight: bold;
}
.nav-link button{
    height: 60px;
    font-family: 'Lato', sans-serif;
    
}
.nav-link{
    
    color: black;
}
.nav{
   
   align-items: center;
}
.content1{
  background-image: url('h1_hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  
}
.content1 h3{
    color: crimson;
    font-size: medium;
    margin-left: 50px;
    margin-bottom: 50px;
    padding-top: 150px;
}
.content1 h1{
    margin-left: 50px;
}
.content1 p{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.content1 button{
    margin-left: 50px;
}
.content2{
    width: 100%;
    height: 500px;
    display: flex;
    
}
.content2 h1{
    margin-left: 30px;
    margin-right: 80px;
    margin-top: 50px;
    font-weight: bold;
}
.content2 p{
    margin-left: 30px;
    margin-right: 80px;
    margin-top: 30px;
}
.content2 h5{
    margin-top: 50px;
    margin-left: 30px;
    color: slategrey;
}
.content2 a{
    margin-top: 50px;
    margin-left: 30px;
    color: black;
    font-size: 40px;
    font-weight: bold;
}
.dropdowns{
    display: none;
    font-size: 40px;
    
}
.content3{
    width: 100%;
    display:flex;
    margin-top: 100px;
}
.content3 h1{
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 50px;
}
.content8 p, .content8 img{
    margin-left: 30px;
    margin-top: 30px;
}
.content8 h2{
    margin-top: 30px;
  margin-left: 30px;
  color: black;
  font-size: 50px;
}
.content4{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.content4 h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}
.content4 p{
    margin-top: 60px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.col-lg-4,  .col-md-6, .col-sm-6{
    border: 0.1px solid rgb(173, 172, 172);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5%;
}

.cont1{
    display: block;
    color: black;
    position: relative;
    overflow:hidden;
    transition: 1s all ease;
}
.cont1::before{
    background: rgb(252, 59, 59);
    
    content:"";
    position:absolute;
    top:0%;
    left:0%;
    transform: translate(0%, 0%);
    transition: all 0.6s ease-in-out;
    z-index:-1;
}
.conta::before{
    width:100%;
    height: 0%;
}
.conta:hover::before{
    height: 100%;
    
}
.buttons{
    display:flex;
    margin-left: 50px;

}
.btns{
    width: 150px;
    height: 50px;
    border: 0.1px solid red;
    margin-top: 50px;
    border-radius: 5%;
    position: relative;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   transform: translate(-50%, -50%);
   overflow: hidden;
   
}

.btn1{
    background: rgb(235, 74, 74);
    color: rgb(233, 232, 232);
} 
.btn1::before{
    position:absolute;
    content:"";
    width:100%;
    height: 100%;
    background: rgb(202, 53, 53);
    top: 0%;
    left: -100%;
    opacity:0.5;
    transition: 0.8s;
    z-index: -1;
}

.btn1:hover{
    
    color:white;
    transition-delay: 0.6s;
}
.btn1:hover::before, .btn1:hover::after{
    left: 0%;
}
.btn1:hover::after{
    opacity:1;
    transition-delay: 0.6s;
}
.btn2::before{
    position:absolute;
    content:"";
    width:100%;
    height: 100%;
    background: rgb(235, 74, 74);
    top: -100%;
    left: 0%;
    transition: 0.8s;
     z-index: -1;
}
.btn2:hover::before, .btn2:hover::after{
    top: 0%;
    
}
.btn2:hover{
    color:white;
}
.btn2:hover::after{
    
    transition-delay: 0.6s;
}
.icon{
    width:100px;
    height: 100px;
    border: 1px solid rgb(253, 248, 248);
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-top:10%;
    z-index: 4;
    background-color: rgb(243, 241, 241);
}
.mini{
    float: right;
    display: flex;
    list-style: none;
    margin-top: 15%;
    
    
}

.buttonlink{
    background: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
}
.buttonlink:hover{
    border-bottom: 2px solid rgb(219, 34, 34);
    
}

.content5{
    width:100%;
    height:900px;
}
.content6{
    width: 100%;
    height: 600px;
    display: flex;
    
    
}
.content7{
    width: 100%;
    height: 300px;
    display: flex;
   margin-top: 5%;
}
.img{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5%;
   align-content: center;
    
}
.content5 .col-lg-4{
    border: none;
}
.content8{
    background: linear-gradient(to bottom, rgb(253, 224, 229), rgb(250, 247, 247));
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 20%;
    color:  rgb(202, 53, 53);
    padding-top: 5%;
}
.content8 .btns{
    float: right;
    

}
.content9{
    width: 100%;
    display: flex;
    margin-top: 15%;
    padding-top: 5%;
    font-weight: bold;
}
.content9 h1{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    
}
.circle{
    float: right;
    border-radius: 50%;
    background-color: rgb(215, 248, 248);
    color: red;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 10%;
    margin-right: 10px;
    text-align: center;
       
}
.content10{
    width: 90%;
    display: flex;
    height: 250px;
}
.content10 .col-lg-4{
    height: 250px;
    
    margin-left: 2%;
    
    border: 1px solid grey;
    border-radius: 0;
}
.slider{
    width: 100%;
    height: 80px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    overflow: hidden;
}
.liner img{
    margin-left: 5%;
    margin-right: 5%;
}
.liner{
    display: flex;
    width:1200px;
    height: 80px;
    transition: all ease 1s;
    position: relative;
}
.liner:after{
    content:"";
    display:block;
    clear:both;
}

footer{
    display:flex;
    width:100%;
    height: 500px;
    background: #080827;
    padding-top: 10%;
    margin-top: 20%;
      
}
.footerarea{
    display: block;
    color:white;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-left: 20%;
    width:60%;
}
.footerarea a{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(233, 232, 232);
}
.footerarea a:hover{
    color: rgb(233, 232, 232); 
    text-decoration: none;
}
.footerarea h5{
    margin-top: 10px;
}
.footerbottom{
    width:100%;
    display: flex;
    margin-top: 100px;
    height: 50px;
}
.left{
    float: left;
    width: 50;
    color: thistle;
}
.right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color:wheat;
    }  
.right a{
    display: block;
    padding: 10px;
}
.feed{
    display:flex;
    width: 100%;
    margin: 10px;
    text-align: center;
}
.feed h4{
    color:red;
    margin-left: 20px;
    
    
}
.about1{
    background: linear-gradient(to bottom, rgb(253, 224, 229), rgb(250, 247, 247));
    width: 100%;
    height: 400px;
    padding-top: 15%;
    margin-bottom: 20px;
}
.about1 h1, .about1 h6{
    margin-left: 5%;
    
}
.about2{
    display: flex;
    margin-top: 10%;
    padding-top: 10%;
}
.about2 h5{
    border-left: 2px solid red;
}
.about2 h1, .about2 h5{
    margin-top: 10%;
   padding-left: 10%;
   padding-right: 10%;
}
.form{
    display: flex;
    margin-top: 10%;
    padding:15px;
}
.entername{
    width:35%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.mail{
    margin-left: 3%;
}
.subject{
    width: 74%;
}
.contactrow{
    display: flex;
}
@media screen and (max-width:992px){
   
   .nav{ 
    max-height: 300px;
    width: 100%;
   display: none;
   }
   .bar{
       display: none;
   }
   .header{
       display: block;
   }
   ul{
       display: none;
       flex-direction: column;
   }
   .dropdowns{
       display:block;
       position:absolute;
       top:0;
       right:0;
       
   }
   .content1{
     background-position: center;
       display: block;
   }
   .content2{
       display: block;
   }
}