{% extends 'portfolio/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block title %}<title>About</title>{% endblock %}
{% block contents %}
<div class="about1">
    <h1>
        About me
    </h1>
    <h6><a href="{% url 'home' %}">Home</a>/ <a href="">About</a></h6>
</div>
<div class="about2">
    <div class="col-lg-6">
        <img src="{% static 'images/aboutme.png' %}" alt="">
    </div>
    <div class="col-lg-6">
        <h1>I Create Products Not Just Art.</h1>
        <p>Unlimited rewards. enjoy attractive discounts flexible Payme options global usage. Unlimited rewards. enjoy attracti exible ayment options global usage.</p>
        <h5>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</h5>
        <p>Unlimited rewards. enjoy attractive discounts flexible Payme options global usage. Unlimited rewards. enjoy attracti exible ayment options global usage.</p>
    </div>
</div>
<div class="content2">

    <div class="col-xl-6 col-lg-6 col-md-8 ">
      <h1>Designing With Passion While Exploring The World</h1>
      <p>Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
      </p>
      <p>
        Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-8">
      <h1>Any Type Of Query
        & Discussion.</h1>
      <h5>Late talk with me</h5>
      <a href="">hire@colorlib.com</a><img src="" alt="">
    </div>

  </div>
  <div class="content8">
    <div class="col-lg-6" id="cont8">
         <h1>Don`t worry for contact</h1>
         <h1>i`m available</h1>
    </div>
    <div class="col-lg-6">
      <button type="button" class="btns btn1 ">Contac Me Now</button>
    </div>
  </div>
  <div class="content9">
    <div class="col-lg-6">
      <h1>Some Possitive Feedback That Encourage Us</h1>
      
    </div>
    <div class="col-lg-6">
      <button class="circle"> < </button>
      <button class="circle"> > </button>
    </div>
  </div>
  <div class="content10">
    
      {% for project in projects %}
      <div class="col-lg-4 col-md-12">
        <div class="feed">
          <div class=".col-lg-6 ">
            <img src="{{project.image.url}}" alt="">
          </div>
          <div class=".col-lg-6 ">
            <h4>{{project.name}}</h4>
            <p>{{project.title}}</p>
          </div>
        </div>
        <div class="feedtext">
          <p>{{project.text}}</p>
        </div>
      </div>
      {% endfor %}
    
    
  </div>
  <div id="slider" class="slider">
    <div id="liner" class="liner">
      <img src="{% static 'images/brand1.png' %}" alt="">
      <img src="{% static 'images/brand2.png' %}" alt="">
      <img src="{% static 'images/brand3.png' %}" alt="">
      <img src="{% static 'images/brand4.png' %}" alt="">
      <img src="{% static 'images/brand1.png' %}" alt="">
      <img src="{% static 'images/brand1.png' %}" alt="">
      <img src="{% static 'images/brand2.png' %}" alt="">
      <img src="{% static 'images/brand3.png' %}" alt="">
      <img src="{% static 'images/brand4.png' %}" alt="">
      <img src="{% static 'images/brand1.png' %}" alt="">
    </div>
  </div>
  <div class="content8">
    <div class="col-lg-6">
      <h2>If Not Now, When? Let’s Work Together!</h2>
      <p>Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra.</p>
      <img src="{% static 'images/imzo.png' %}" alt="">
    </div>
    <div class="col-lg-6">
    
      <form>
        <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="FirstName">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="LastName">
        </div>
        <div class="form-group">
          
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="YourMessage"></textarea>
        </div>
        <button type="button" class="btn btn-danger btn-lg btn-block">Send Message</button>
      </form>
    
    </div>
  </div>
<footer>
  
  <div class="footerarea">
    <img src="{% static 'images/logo2_footer.png' %}" alt=""><br>
    <a href="">hireme@portfolio.com</a>
    <h5>221B Baker Street, Post office Box 353 </h5>
    <h5>Park Road, USA - 215431</h5>
  </div>
  <div class="footerbottom">
    <div class="col-lg-6 left">
      <p>Copyright ©2020 All rights reserved | This template is made with <span style='color:red;'>&#9829;</span> by Colorlib</p>
    </div>
    <div class="col-lg-6 right">
      <h6>Stay connectted  </h6>
      <a href=""><i class="fa fa-facebook" aria-hidden="true" style="color:aliceblue"></i></a>
      <a href=""><i class="fa fa-twitter" aria-hidden="true" style="color:aliceblue"></i></a>
    </div>
  </div>
</footer>
  
{% endblock %}