{% extends 'portfolio/base.html'%}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
{% load static %}
{% block title %}<title>Contact</title>{% endblock %}
{% block contents %}
<div class="about1">
    <h1>
        Contact
    </h1>
    <h6><a href="{% url 'home' %}">Home</a>/ <a href="">Contact</a></h6>
</div>
<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
<div class="form">
<div class="col-lg-10">
    <h1>Get in touch</h1>
 <form action="">
     <textarea name="Enter" id="" cols="100" rows="6" placeholder="Enter message"></textarea>
     <input type="text" placeholder="Enter your name" class="entername" >
     <input type="text" placeholder="Enter your e-mail" class="entername mail"><br>
     <input type="text" placeholder="Enter subject" class="subject">
 </form>
</div>
<div class="col-lg-2">
    <div class="contactrow">
        <a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
        <h5>Buttonwood, California.</h5>
        <h6>Rosemead, CA 91770</h6>
    </div>
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
</div>
</div>
<footer>
      
    <div class="footerarea">
      <img src="{% static 'images/logo2_footer.png' %}" alt=""><br>
      <a href="">hireme@portfolio.com</a>
      <h5>221B Baker Street, Post office Box 353 </h5>
      <h5>Park Road, USA - 215431</h5>
    </div>
    <div class="footerbottom">
      <div class="col-lg-6 left">
        <p>Copyright ©2020 All rights reserved | This template is made with <span style='color:red;'>&#9829;</span> by Colorlib</p>
      </div>
      <div class="col-lg-6 right">
        <h6>Stay connectted  </h6>
        <a href=""><i class="fa fa-facebook" aria-hidden="true" style="color:aliceblue"></i></a>
        <a href=""><i class="fa fa-twitter" aria-hidden="true" style="color:aliceblue"></i></a>
      </div>
    </div>
  </footer>
{% endblock %}